.banner{
    height: 500px;
    background-color: #f3f3f4;
    background-image: url(../images/树.png);
    background-repeat: no-repeat;
    background-position: left bottom;

    /*文字控制属性，继承给子级*/
    text-align: right;
    color: #333;
}

.banner h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 100px;
}

.banner p{
    font-size: 20px;
}

.banner a{
    width: 125px;
    height: 40px;
    background-color: #f06b1f;

    display: inline-block;  /*行内块*/
    /*display: block;转块级无法右对齐，因为块元素独占一行*/
    
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;

    font-size: 20px;
}